/* .container {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

button {
    width: 100px;
    font-size: 2rem;
    border-radius: 20px;
    cursor: pointer;
} */

.children{
    border: 1px solid black;
    border-radius: 20px;
    margin: 30px;
    padding: 20px;

}