/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */

.container {
    border: 2px solid black;
    height: 800px;

    display: flex;
    /* flex-direction: column;
    flex-wrap: wrap; */
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* gap: 20px; */
    /* row-gap: 20px;
    column-gap: 20px; */
}

.children {
    border: 1px solid red;
    padding: 20px 40px;
}

/* #children-3{
    order: 3;
}
#children-4{
    order: 2;
} */

/* #children-1{
    flex-grow: 1;
}
#children-2{
    flex-grow: 2;
}
#children-3{
    flex-grow: 3;
} */

#children-2{
    /* flex-basis: 10rem; */
    align-self: flex-start;
}